.logo{
    margin-bottom: 20px;
    max-width: 100%;
    height: auto;
}

.login-container{
    text-align: center;
    border: 5px solid darkgray;
    border-radius: 15px;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    padding: 25px;
    width: 22vw;
    margin: 0 auto 30px;
}

.login-container label{
    font-family: Arial, sans-serif;
    color: #6a6a69;
    margin-right: 15px;
}

.input{
    margin-bottom: 10px;
}

.credentials{
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.error-message-box{
    height: 40px;
    margin-bottom: 10px;
}

.error-message{
    font-family: Arial, sans-serif;
    border: 3px solid gray;
    border-radius: 15px;
    text-align: center;
    width: fit-content;
    font-size: 15px;
    padding: 10px;
    background-color: rgba(255,0,9,0.60);
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
    display: block;
}

.error-message label{
    text-align: center;
    margin: 0;
}

input[type="checkbox"] {
    margin: 5px;
}

.remember-me-forgot-password{
    display: flex;
    justify-content: space-evenly;
}

.remember-me{
    justify-content: space-evenly;
    display: inline-flex;
    flex-direction: row;
}

.remember-me label{
    font-family: Arial, sans-serif;
    white-space: nowrap;
    margin: 3px;
}

button{
    margin: 20px;
    font-family: Arial, sans-serif;;
    font-size: 1.5em;
    border: 5px solid gray;
    border-radius: 15px;
    background-color: lightgray;
    cursor: pointer;
}

#login-button:hover{
    background-color: #9e9e9d;
}


