.entity-container{
    font-family: Arial, sans-serif;
    border: 5px solid darkgray;
    border-radius: 15px;
    padding: 25px;
    display: block;
    margin: 5px;
    height: 100px;
    justify-content: center;
}

.entity-container:hover{
    cursor: pointer;
}

.entity{
    display: flex;
    width: 400px;
    justify-content: space-evenly;
}

.icon-column{
    margin-left: 20px;
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.entity-icon{
    width:70px;
    height:70px;
    border: solid;
    border-radius: 35px;
    margin-top: 20px;
}

.entity-data{
    margin-left: 20px;
    display: inline-block;
    width: 70%;
}

.password-field{
    display: flex;
    margin: 10px;
}

.description-field{
    display: block;
    margin: 10px;
    overflow: auto;
    max-height: 30px;
}

h3{
    margin: 0px;
}