.entity-container{
    font-family: Arial, sans-serif;
    border: 5px solid darkgray;
    border-radius: 15px;
    padding: 25px;
    display: block;
    margin: 5px;
    height: auto;
    justify-content: center;
}

.entity{
    display: flex;
    width: 600px;
    justify-content: space-evenly;
}

.icon-column{
    margin-left: 20px;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.entity-icon{
    width:70px;
    height:70px;
    border: solid;
    border-radius: 35px;
    margin-top: 20px;
    object-fit: cover;
    cursor: pointer;
}

.entity-hover-icons{
    visibility: hidden;
}

.entity:hover .entity-hover-icons {
    visibility: visible;
}

.action-icon{
    height: 30px;
    width: 33px;
    margin-top: auto;
    margin-bottom: auto;
    cursor: pointer;
    margin-right: 10px;
}

.entity-data{
    margin-left: 20px;
    display: inline-block;
    width: 60%;
}

.input-field{
    display: flex;
    align-items: center;
    margin: 10px 0;
}

.copy-icon{
    height: 17px;
    margin-left: 20px;
    margin-top: auto;
    margin-bottom: auto;
    cursor: pointer;
}

.img-input{
    display: none;
}