.input-container {
    text-align: center;
    border: 5px solid darkgray;
    border-radius: 15px;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    padding: 25px;
    margin-bottom: 30px;
    width: 22vw;
    margin-left: auto;
    margin-right: auto;
}

.email-address-input{
    margin-right: 25px;
}