img{
    margin-bottom: 30px;
    max-width: 100%;
    height: auto;
}

.container{
    text-align: center;
    border: 5px solid darkgray;
    border-radius: 15px;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    padding: 25px;
    margin-bottom: 30px;
    width: 22vw;
    margin-left: auto;
    margin-right: auto;
    height: 100px;
}

.container label{
    font-family: Arial, sans-serif;
    color: #6a6a69;
    margin-right: 15px;
}

button{
    margin: 20px;
    font-family: Arial, sans-serif;;
    font-size: 1.5em;
    border: 5px solid gray;
    border-radius: 15px;
    background-color: lightgray;
    cursor: pointer;
}

#button:hover{
    background-color: #9e9e9d;
}

.timer{
    height: auto;
}

.timer.a:hover{
    cursor: pointer;
}




